.controls {
    grid-area: 1/1/5/37;

    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}

.start-button {
    margin-left: 8px;
}

.stop-button {
    margin-left: 8px;
    display: none;
}

.reload-button {
    margin-left: 8px;
    display: none;
}

.message-container {
    display: block;
    margin-left: auto;
    width: 25%;

    background-color: rgb(177, 188, 230);
    border: 2px dotted rgb(43, 56, 100);

    border-radius: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
